header {
    text-align: center !important;
    background-color: red !important;
    color: white !important;
    font-size: 20px;
}

body {
    background-image: url('/img/backgroud.png') !important; /* Caminho da imagem */
    background-size: cover !important;/* Ajusta a imagem para cobrir toda a tela */
    background-position: center !important;/* Centraliza a imagem */
    background-repeat: no-repeat !important;/* Evita repetição da imagem */
    padding: 5em !important;
}

footer {
    background-color: red !important;
    text-align: center !important;
    color: white !important;
    font-size: 20px !important;
}

a {
    text-decoration: none !important;
    color: white !important;
}

.margim-border {
    background: white !important;
    border-radius: 15px !important;
    padding: 1.9px !important;
    margin: 50px !important;
    width: 85% !important;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os elementos horizontalmente */
}

.info{
    text-align: center !important;
    font-size: 18px !important;
}
.info-title{
    color: red !important;
    font-family: 'Arial Black', sans-serif !important;
}
.card{
    text-align: center; /* Centraliza o conteúdo */
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centraliza os cards */
    gap: 20px; /* Espaço entre os cards */
    width: 100%; /* Garante que ocupe a largura total */
    padding: 0.5em !important;
    margin: 10px !important;
}

.img_card{
    display: block;
    margin: 0 auto; /* Centraliza horizontalmente */
    width: 95px; /* Garante que a imagem se ajuste ao card */
    max-width: 150px; /* Ajuste o tamanho conforme necessário */
}
.s-name{
    padding: 0.5em !important;

}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Faz o título ficar no final do card-body */
    align-items: center; /* Centraliza o texto */
    height: 10%; /* Faz com que ocupe toda a altura disponível */
}

.main-home{
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente (caso tenha altura definida) */
    
}

@media (min-width: 200px) and (max-width: 1024px){
    
}