header {
    text-align: center !important;
    background-color: red !important;
    color: white !important;
    font-size: 20px;
}

body {
    background-image: url('/img/backgroud.png') !important; /* Caminho da imagem */
    background-size: cover !important;/* Ajusta a imagem para cobrir toda a tela */
    background-position: center !important;/* Centraliza a imagem */
    background-repeat: no-repeat !important;/* Evita repetição da imagem */
    padding: 10em !important;
}

a {
    text-decoration: none !important;
    color: white !important;
}

.margim-border {
    background: white !important;
    border-radius: 15px !important;
    padding: 10px !important;
    margin: 50px !important;
    width: 80% !important;
}

.info{
    text-align: center !important;
    font-size: 25px !important;
}
.info-title{
    color: red !important;
    font-family: 'Arial Black', sans-serif !important;
}
.cards{
   
}

footer {
    background-color: red !important;
    text-align: center !important;
    color: white !important;
    font-size: 20px !important;
}